@model List<IndexBlogViewModel>
@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/BlogListBlog.js" type="text/javascript"></script>
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                @Html.Partial("_LoginPartial")
                <ul class="navbar-nav ml-auto">
                    @if ((User.Identity.IsAuthenticated))
                        {
                        <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Blog")">Post</a>
                        </li>
                        }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('@Url.Content("~/img/sb.jpg")">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1> BIOHAZARD</h1>
                        <span class="subheading">Resident Evil</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <a class="btn btn-primary" href="@Url.Action("PostBlog", "Blog")">Create a new Blog</a>

    @if (!Model.Any())
    {
        <div style="margin-top:15px;">

            <p><strong>You have 0 blog</strong></p>

        </div>
    }
    else
    {
        <table class="table table-striped">

            <thead>

                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Published</th>
                    <th>DateCreated</th>
                    <th>DateUpdated</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.Id</td>
                        <td>@record.Title</td>
                        <td>@record.Body</td>
                        <td>@record.Published</td>
                        <td>@record.DateCreated</td>
                        <td>@record.DateUpdated</td>



                        <td>
                            <a href="@Url.Action("Detail", "Blog", new { slug = record.Slug })">Detail</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Blog", new { id = record.Id })">Edit</a>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <form method="post" action="@Url.Action("Delete", "Blog", new { id = record.Id })">
                                    <a href="#" class="btn-delete">Delete</a>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <hr>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.min.js"></script>
</body>
</html>


